@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
html {
    overflow-x: hidden;
  }
body{
    margin: 0;
    padding: 0;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #56B870;
    overflow-x: hidden;
}